body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button,
.ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container,
.ps-submenu-content {
  background-color: transparent !important;
  overflow: unset;
}
.ps-collapsed .ps-menu-icon {
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed {
  width: 80px !important;
}
.ps-sidebar-container,
.ps-menu-root,
.ps-menu-root > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ps-sidebar-root {
  min-width: unset !important;
}
.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul {
  align-items: center;
}
.ps-menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ps-sidebar-container::-webkit-scrollbar {
  width: 2px;
}

.input-gradient{
  background: radial-gradient(50% 50% at 50% 50%, rgba(7, 246, 249, 0.2) 0%, rgba(93, 64, 164, 0) 100%),
linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

}

.switch-btn-gradient{
  background: radial-gradient(50% 50% at 50% 50%, rgba(7, 246, 249, 0.2) 0%, rgba(93, 64, 164, 0) 100%);

}

.input-with-image {
  background-image: url('../../public/images/search.svg'); /* Set your image path */
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust positioning */
  background-size: 20px 20px; /* Adjust image size */
  padding-left: 40px; /* Add padding to make room for the image */
}



.bg-gradientmain{
  background: radial-gradient(
    circle, 
    #01d8db57 0%,   /* #00CFD2 at 100% opacity */
    rgba(93, 64, 164, 0) 120%   /* #5D40A4 at 0% opacity */
  );
  

}

.signin-bg {
  background-image: url('../../public/images/signin-net.png'); 
  background-repeat: no-repeat;
  background-size: 100% 50%; 
  background-position: bottom; 
  width: 100%;
}

.signin-gradient {
  /* background: radial-gradient(78.04% 89.35% at 50% 50%, rgba(0, 207, 210, 0.8) 0%, rgba(93, 64, 164, 0) 100%);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.4);  */
  background-image: url('../../public/images/signin-div-bg.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 100%;
}


.signin-btn-gradient {
  background: linear-gradient(90.92deg, #048FFD 16.44%, #52D5FF 101.91%);
}

.email-input-with-image {
  background-image: url('../../public/images/email.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}

.password-input-with-image {
  background-image: url('../../public/images/password.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}

.card-bg {
  background-image: url('../../public/images/cardbg.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 100%;
}


.workspace-bg {
  background-image: url('../../public/images/signin-net.png'); 
  background-repeat: no-repeat;
  background-size: 100% 20%; 
  background-position: bottom; 
  width: 100%;
}

.threads-bg {
  background-image: url('../../public/images/signin-net.png'); 
  background-repeat: no-repeat;
  background-size: 100% 45%; 
  background-position: bottom; 
  width: 100%;
}

.threads-input-with-image {
  background-image: url('../../public/images/input-bg.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center; 
  background-size: 30px 30px;
}


.help-center-bg{
  background-image: url('../../public/images/signin-net.png'); 
  background-repeat: no-repeat;
  background-size: 100% 45%; 
  background-position: bottom; 
  width: 100%;
}


.help-center-bg-div {
  background-image: url('../../public/images/help-center-bg.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 100%;
}

.modal-bg {
  background-image: url('../../public/images/modal-bg.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 100%;
}

@media only screen and (max-width: 768px) {
 .workspace-bg{
  background-image: none;
  /* background-color: #05141D; */
 }
 .threads-bg{
  background-image: none;
 }
 .threads-input-with-image{
  background-image: none;
 }
 .help-center-bg{
  background-image: none;
 }
.modal-bg{
  background-size: cover;
}
}

.custom-mine {
  /* scrollbar-width: thin; */
  scrollbar-color: #4b5563 #f1f1f1; 
}

/* For Webkit browsers */
.custom-mine::-webkit-scrollbar {
  width: 2px;
}

.custom-mine-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-mine::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* border-radius: 10px; */
}

.custom-mine::-webkit-scrollbar-thumb:hover {
  background-color: #374151; /* Darker on hover */
}